<a href="https://colab.research.google.com/github/chandrasekhark/PythonforDataScience/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
list = [10, 20, 30, 40]

In [5]:
df = pd.DataFrame(list)
df
type(df)

pandas.core.frame.DataFrame

In [10]:
# create a dictionary 
#key a value 1 
#key b value 2

dict = {"a":1, "b":2}
type(dict)

df = pd.DataFrame(dict, index=['r1','r2'])
print(df)

    a  b
r1  1  2
r2  1  2

In [11]:
dict1 = {"a":1, "b":5, "c":6}
type(dict1)

df = pd.DataFrame([dict, dict1])
print(df)

   a  b    c
0  1  2  NaN
1  1  5  6.0

In [13]:
data = {"one": pd.Series([1, 2, 3], index=['a', 'b', 'c']), "two": pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(data)
print(df)

#add new column to data frame
df["three"] = pd.Series([1,2,3,4,5], index=['a','b','c','d','f'])
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two  three
a  1.0    1      1
b  2.0    2      2
c  3.0    3      3
d  NaN    4      4

In [14]:
del df['one']

In [15]:
df

   two  three
a    1      1
b    2      2
c    3      3
d    4      4