<a href="https://colab.research.google.com/github/chandrasekhark/PythonforDataScience/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Number**

It's Integer/float/others

Numbers are immutable

In [ ]:
a = 1
print(type(a))

<class 'int'>

In [ ]:
b = 1.2
print(type(b))

<class 'float'>

In [ ]:
c = a * b
print(type(c))

<class 'float'>

In [ ]:
d = 4
e = 2
f = d/e
print(type(f))

<class 'float'>

In [ ]:
#g = 2 to the power of 8
g = 2**8
print(g)

256

In [ ]:
f = 1234
print(f[0])
f[0] = 3

TypeError: ignored

# **String**

It's character, text data -> ''

Strings are immutable

In [ ]:
b = '8'
print(type(b))

<class 'str'>

In [ ]:
print('d is ',d)
print('b is ',b)
e = d*b
print('e is ',e)

d is  4
b is  8
e is  8888

In [ ]:
b = "8"
print(type(b))

<class 'str'>

In [ ]:
b = '''this is a pyton practice
Hi I am Chandrasekhar Kanakala
multiple lines I am typing here'''
print(b)

this is a pyton practice
Hi I am Chandrasekhar Kanakala
multiple lines I am typing here

In [ ]:
b[0] = 'a'

TypeError: ignored

# **Indexing**

In [ ]:
b = 'Data Science'
# Extract the word d
print(b[0])
print(b[1])
print(b[2])
print(b[3])
print(b[4])
print(b[5])
print(b[6])
print(b[7])
print(b[8])
print(b[9])
print(b[10])
print(b[11])

D
a
t
a

S
c
i
e
n
c
e

# **List**

It's a data type which contain all other data types --> [] is a symbol.

List is a mutable

In [ ]:
c = [1,2,3]
print(type(c))

<class 'list'>

In [ ]:
#create a list d that conatins the number 1, 100, 200, 'Data Science' and a list 4,5,6
d = [1, 100, 200, 'Data Science', [4, 5, 6]]
print(type(d))
d

<class 'list'>

[1, 100, 200, 'Data Science', [4, 5, 6]]

apply index here

In [ ]:
print(d[2])
print(type(d[2]))
print(type(d[3]))
print(type(d[4]))

200
<class 'int'>
<class 'str'>
<class 'list'>

In [ ]:
#Can you print 5 using indexing
print(d[4][1])
#We call this as double index

5

# **Reverse Indexing**

In [ ]:
print(d[-1])

[4, 5, 6]

In [ ]:
#Can you print 5 using indexing
print(d[-1][1])

5

# **Tuple**

Anything inside round brackets () is called tuple.

Tuples are immutable.

Tuple is faster than list

It can also contain a string, list, tuple

In [ ]:
c = (1, 2, 4.12, [1,5,6], 'India', (9, 4,2))
print(type(c))

<class 'tuple'>

In [ ]:
d = [1, 2, 4.12, [1,5,6], 'India', (9, 4,2)]
print(type(d))

<class 'list'>

In [ ]:
d[1] = 3
print(d)

[1, 3, 4.12, [1, 5, 6], (9, 4, 2)]

In [ ]:
print(c[2])
c[2] = 6.12 # The information inside a tuple is not changable.

4.12

TypeError: ignored

# **Dictionary**

symbol is {}

There is a concept of key and value

It is mutable

In [ ]:
a = {'Name':[1,2,3], 'Address': ['x', 'y', 'z']}
print(type(a))
a['Name']

<class 'dict'>

[1, 2, 3]

In [ ]:
a['Name'][1] = 'check'
a['Name']

[1, 'check', 3]

# **Set**

Set only store unique numbers.

It will sort in ascending order.

It is immutable and subscriptable

In [ ]:
a = {1, 3,5, 2, 5, 2}
print(a)

{1, 2, 3, 5}

In [ ]:
a[1]

TypeError: ignored

# **Boolean**

In [ ]:
a = True
print(type(a))

<class 'bool'>

# **In-Built functions**

In [ ]:
a = [1, 2, 3, 'India', (a, b, c)]
print(len(a))

5

# **Conditional Statements**

if 

elif

else

In [ ]:
x = 10
y = 12

#there is a possibility x <y or x>y or x=y

if x<y:
  print('X is less than y')
elif x > y:
  print('x is greater than y')
else:
  print('X is equals to y')

X is less than y

In [ ]:
# x is a number and find it is positive, negative or zero
x = int(input('Please enter a value for X '))
if x >0:
  print('X is possitive')
elif x < 0:
  print('X is negative')
else:
  print('X is equals to zero')

Please enter a value -18
X is negative

# **Loops**

Loops allows us to execute statements.

For

In [ ]:
fruits = ['Banana', 'Apple', 'Grapes']

for i in fruits:
  print(i)

Banana
Apple
Grapes

In [ ]:
a = range(0,10)
a

range(0, 10)

In [ ]:
#Print numbers one by one between 10 -19
for i in range(10,20):
  print(i)

10
11
12
13
14
15
16
17
18
19

While

In [ ]:
#Print between 10 - 19
count = 0
while (count < 10) :
  print(count+10)
  count = count + 1

print('loop completed')

10
11
12
13
14
15
16
17
18
19
loop completed

In [ ]:
#Initilize with 1 and run it upto 10.
# print whether the number is odd or even

count = 0

while (count < 10):
  if count+10 % 2 == 0:
    print('Then number',count+10,'is even')
  else:
    print('Then number',count+10,'is odd')
  count += 1

print('End of loop')

Then number 10 is even
Then number 11 is odd
Then number 12 is odd
Then number 13 is odd
Then number 14 is odd
Then number 15 is odd
Then number 16 is odd
Then number 17 is odd
Then number 18 is odd
Then number 19 is odd
End of loop

break, continue and pause

In [ ]:
for i in range(10, 30):
  print(i)
  if i == 20:
    break

10
11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(0,50):
  if i%2 == 0:
    continue
  print(i ,'is a odd number')
print('End of loop')

1 is odd number
3 is odd number
5 is odd number
7 is odd number
9 is odd number
11 is odd number
13 is odd number
15 is odd number
17 is odd number
19 is odd number
21 is odd number
23 is odd number
25 is odd number
27 is odd number
29 is odd number
31 is odd number
33 is odd number
35 is odd number
37 is odd number
39 is odd number
41 is odd number
43 is odd number
45 is odd number
47 is odd number
49 is odd number
End of loop

In [ ]:
# pass is used a a place holder
for i in range(10, 30):
  pass
print('End of loop')

End of loop